<div class="maindiv">
	<h1>Alle <%=@title%> des Musicals</h1>
	<p>Klicken, um Infos zu erhalten</p>
</div>

<div class="maindiv">
	<table>
  		<thead>
  			<th><%=@title%></th>
  			<th>Spielt folgende Rollen</th>
  			<th>Klasse</th>
		</thead>
  	
  		<% @actors.each do |actor|%>
		<tr>
			<td>
				<%= link_to actor_show_path(actor.id) do  %>
     			<%= actor.name %>
     		</td>
			<td>
				<% actor.allocations.each do |a|%>
				<%= link_to "#{a.role.name} in der Besetzung #{a.cast.name}", role_show_path(a.id)%>
				<br>
				<%end%>
			</td>
			<td>
				<%= actor.schoolclass%>				
			</td>
			<%end%>	  
		</tr>
		<%end%>
	</table>
</div>

<%if signed_in? %>
<div id="import" class="maindiv">
	<h2>
		<%=@title%> aus Excel Datei importieren
	</h2>
	<p>Spalten: <%= @columns%></p>
	<%= form_tag actors_import_path, multipart: true do %>
	  <%= file_field_tag :file%>
	  <%= submit_tag "Importieren"%>
	<%end%>
</div>	
<div class="maindiv">
	<%= link_to "Schauspieler administrieren", admin_actors_path%>
</div>
<% end %>
