<div class="maindiv">
	<h1>Alle SchauspielerInnen des Musicals</h1>

	<table id="actors">
  		<thead>
  			<th><%= link_to "Vorname"%></th>
  			<th><%= link_to "Nachname"%></th>
  			<th><%= link_to "Rollen"%></th>
  			<th><%= link_to "Klasse"%></th>
  			<%if signed_in?%><th>Löschen</th><%end%>
		</thead>
		
  		<tbody>
  		<% @actors.each do |actor|%>
		<tr>
			<td>
				<%= link_to actor_path(actor.id) do  %>
				<%if actor.name%>
     			<%= actor.name %>
     			<%else%> Neu erstellter Schauspieler
     			<%end%>
     			<%end%>
     		</td>
     		<td>
				<%= link_to actor_path(actor.id) do  %>
     			<%= actor.last_name %>
     			<%end%>
     		</td>
			<td>
				<% actor.allocations.each do |a|%>
				<%= link_to "#{a.role.name} in der Besetzung #{a.cast.name}", role_path(a.role.id)%>
				<br />
				<%end%>
			</td>
			<td>
				<%= actor.schoolclass%>				
			</td>
			<%if signed_in?%>
			<td>
				<%= link_to "Löschen", actor_path(actor.id), :method => 'delete' if signed_in?%>
			</td>
			<%end%>
		</tr>
		<%end%>
		</tbody>
	</table>
	<%= link_to "Neu", actors_path, :method => 'post' if signed_in?%>
</div>

<%if signed_in? %>
<div id="import" class="maindiv">
	
	<h2>
		Schauspieler aus Excel Datei importieren
	</h2>
	<%= form_tag actors_import_path, multipart: true do %>
	  <%= file_field_tag :file%>
	  <%= submit_tag "Importieren"%>
	<%end%>
</div>	
<div class="maindiv">
	<%= link_to "Schauspieler administrieren", admin_actors_path%>
</div>
<%end%>