
<div class="maindiv">	
  <h1>Liste aller Szenen vom Musical</h1>
  <p>Klicken für weitere Infos</p>
</div>


<div class="maindiv">
<% @scenes.each do |scene|%>
<% @class= scene.scenery%>
<%= link_to scene_show_path(scene.id) do  %>

<div class='listdiv <%=@class%>'><%= scene.number %></div>

<%end%>
<%end%>
</div>


<div id="import" class="maindiv">
	<h2>
		Szenen aus Excel Datei importieren
	</h2>
	<p>Spalten: <%= @columns%></p>
	<%= form_tag scenes_import_path, multipart: true do %>
	  <%= file_field_tag :file%>
	  <%= submit_tag "Importieren"%>
	<%end%>
</div>

<footer class="maindiv">
	<%= link_to "Szenen administrieren", admin_scenes_path%>
</footer>


