<div class="maindiv">

<div class='leftdiv'>
	<h1>		
		<%=link_to "<", scene_path(@scene.id - 1) if @scene.id > 1%>
		Szene <%= @scene.number%> 
		<%=link_to ">", scene_path(@scene.id + 1) if @scene.id < @end%>
	</h1>
	
	<h2>Bühnenszenario </h2>
		<% if signed_in? %>
			<%= best_in_place @scene, :scenery, type: :select, collection: @collection, :path => scene_path(@scene.id)%>
		<%else%>
		    <%= @scene.scenery %>
		<%end%>
	

	<h2>Rollen auf der Bühne</h2>
	<% @scene.entrances.sort_by{|entrance| entrance.role.name}.each do |entrance| %>
		<%= link_to entrance.role.name, role_path(entrance.role.id) %>
		<%= best_in_place_if signed_in?, entrance, :description%><br/>
	<%end%>
	
	<h2>Rollen mit Text</h2>
	<% @scene.entrances.sort_by{|entrance| entrance.role.name}.each do |entrance| %>
		<%= link_to entrance.role.name, role_path(entrance.role.id) if entrance.speaking?%><br />
	<%end%>
	<h2>Rollen mit Gesang</h2>
	<% @scene.entrances.sort_by{|entrance| entrance.role.name}.each do |entrance| %>
		<%= link_to entrance.role.name, role_path(entrance.role.id) if entrance.singing?%><br />
	<%end%>
</div>

<div class='rightdiv'>
	<div class="limited"><h2>Beschreibung</h2>
	<%= best_in_place_if signed_in?, @scene, :description, :type => :textarea, :classes => "gross", :display_with => :simple_format%></div>
	<div class="limited"><h2>Zusammenfassung</h2>
	<%= best_in_place_if signed_in?, @scene, :summary, :type => :textarea, :classes => "gross", :display_with => :simple_format%></div>
	<div class="limited"><h2>Stimmung</h2>
	<%= best_in_place_if signed_in?, @scene, :mood, :type => :textarea, :classes => "gross", :display_with => :simple_format%></div>
	<div class="limited"><h2>Text</h2>
	<%= best_in_place_if signed_in?, @scene, :text, :type => :textarea, :classes => "gross", :display_with => :simple_format%></div>
</div>



