
<div class="maindiv">
	<h2>
		Alle Rollen
	</h2>
<table>
  	<thead>
  		<th><%= link_to "Rolle" %></th>
  		<th><%= link_to "Szenen auf der Bühne" %></th>
  		<th><%= link_to "gesprochene Szenen" %></th>
  		<th><%= link_to "Kategorie"%></th>
  	</thead>
  	
  	<% unless signed_in? %>	
  	<tbody>  	
  	<% @roles.each do |r|%>
	<tr>
		<td><%= link_to r.name, role_path(r.id)%></td>
		<td><% r.scenes.each do |s|%>
			<%= link_to s.name, scene_path(s.id)%>
			<%end%>
		</td>
		<td><% r.entrances.each do |e|%>
			<%= link_to e.scene.number, scene_path(e.scene.id) if e.speaking?%>
			<%end%>
		</td>
		<td>
			<%= r.category.name %>
		</td>
	</tr>
	<%end%>
	</tbody>
	<%end%>
	
	<%if signed_in?%>
	<tbody>  	
  	<% @roles.each do |r|%>
	<tr>
		<td><%= best_in_place r, :name%></td>
		<td><% r.scenes.each do |s|%>
			<%= link_to s.name, scene_path(s.id)%>
			<%end%>
		</td>
		<td><% r.entrances.each do |e|%>
			<%= link_to e.scene.number, scene_path(e.scene.id) if e.speaking?%>
			<%end%>
		</td>
		<td>
			<%= best_in_place_if signed_in?, r, :category_id, :type => :select, :collection => @categories %>
		</td>
	</tr>
	<%end%>
	</tbody>
	<%end%>

</table>
</div>

<%if signed_in?%>
<div id="import" class="maindiv">
	<h2>
		Rollen aus Excel Datei importieren
	</h2>
	<p>Spalten: <%= @columns%></p>
	<%= form_tag roles_import_path, multipart: true do %>
	  <%= file_field_tag :file%>
	  <%= submit_tag "Importieren"%>
	<%end%>
</div>
<div class="maindiv">
	<%= link_to "Rollen administrieren", admin_roles_path%>
</div>
<%end%>
