
<div class="maindiv">
	<h2>
		Alle Rollen
	</h2>
<table>
  	<thead>
  		<th><%= link_to "Rolle" %></th>
  		<th><%= link_to "Szenen auf der Bühne" %></th>
  		<th><%= link_to "gesprochene Szenen" %></th>
  		<th><%= link_to "Kategorie"%></th>
  		<%if signed_in?%><th>Löschen</th><%end%>
  	</thead>
  	
  	<tbody>  	
  	<% @roles.each do |r|%>
	<tr>
		<td>
			<%= link_to role_path(r.id) do %>
			<% if r.name %>
			<%= r.name %>
			<%else%>
			Neu erstellte Rolle
			<%end%>
			<%end%>
		</td>
		<td>
			<% count = 0%>
			<% r.scenes.sort_by{ |name| name[:number]}.each do |s|%>
			<%= link_to s.name, scene_path(s.id)%>
			<%count += 1%>
			<%if  [7, 14, 21, 28].include?(count)%>
			<br />
			<%end%>

			<%end%>
		</td>
		<td><% r.entrances.sort_by{ |scene| scene[:scene_id]}.each do |e|%>			
			<%= link_to e.scene.name, scene_path(e.scene.id) if e.speaking?%>

			<%count += 1%>
			<%if  [7, 14, 21, 28].include?(count)%>
			<br />
			<%end%>
			<%end%>
		</td>
		<td>
			<%if defined?(r.category.name) %>
			<%= r.category.name %>
			<%end%>
		</td>
		<%if signed_in?%>
		<td>
				<%= link_to "Löschen", role_path(r.id), :method => 'delete' if signed_in?%>
		</td>
		<%end%>
	</tr>
	<%end%>
	</tbody>
</table>
<%= link_to "Neu", roles_path, :method => 'post' if signed_in?%>
</div>

<%if signed_in?%>
<div id="import" class="maindiv">
	<h2>
		Rollen aus Excel Datei importieren
	</h2>
	<%= form_tag roles_import_path, multipart: true do %>
	  <%= file_field_tag :file%>
	  <%= submit_tag "Importieren"%>
	<%end%>
</div>
<div class="maindiv">
	<%= link_to "Rollen administrieren", admin_roles_path%>
</div>
<%end%>
