<div class = "maindiv">
	<h1>Rolle <%= best_in_place_if signed_in?, @role, :name %></h1>
	<h2>
		<% if signed_in?%>
		<%= best_in_place @role, :category_id, :type => :select, :collection => @categories %>
		<%else%>
		<%= @role.category.name %>
		<%end%>
</div>


<div class="maindiv">
	

<% @casts.each do |cast|%>
	<h2>Besetzung <%= cast.name %></h2>
		<% @role.allocations.each do |a| %>
			<%if a.actor%><%= link_to a.actor.name, actor_path(a.actor_id) if a.cast.name == cast.name %><%else%>-<%end%>
			<%end%>
<%end%>
</div>


<div class="maindiv">
	<h2> Bei folgenden Szenen auf der Bühne </h2>
	<% @role.entrances.each do |e| %>
	<%= link_to e.scene.number, scene_path(e.scene.id) %>



	<h2> In folgenden Szenen sprechend </h2>
	<%= link_to e.scene.number, scene_path(e.scene.id) if e.speaking? %>
	<%end%>
	
</div>
