<div class = "maindiv">
	<h1>Rolle <%=@role.name%></h1>
</div>

<% @casts.each do |cast|%>
<div class="maindiv">
	<h2>Besetzung <%= cast.name %></h2>
	<p>
		<% @role.allocations.each do |a| %>
			<% actor =  a.actor%>
			<%if actor%>
			<%= link_to actor.name, actor_path(actor.id) if a.cast.name == cast.name %>
			<%else%>
			<%="Noch keine Zuteilung"%>
			<%end%>
		<%end%>
	</p>
</div>
<%end%>

<div class="maindiv">
	<h2> Bei folgenden Szenen auf der Bühne </h2>
	<% @role.entrances.each do |e| %>
	<%= link_to e.scene.number, scene_path(e.scene.id) %>



	<h2> In folgenden Szenen sprechend </h2>
	<%= link_to e.scene.number, scene_path(e.scene.id) if e.speaking? %>
	<%end%>
	
</div>
