

<div class="maindiv">
	<h2>
		Alle Auftritte
	</h2>
	
	<table>
		<thead>
			<th><%= link_to "Szene" %></th>
			<th><%= link_to "Rolle" %></th>
			<th><%= link_to "Sprechend?" %></th>
			<th><%= link_to "Singend?" %></th>
			<th>Löschen</th>
		</thead>
		
		<tbody>
		<% @entrances.each do |e|%>
		<tr>
			<td><%= best_in_place_if signed_in?, e, :scene_id, :type => :select, :collection => @scenes %></td>
			<td><%= best_in_place_if signed_in?, e, :role_id, :type => :select, :collection => @roles %></td>
			<td><%= best_in_place_if signed_in?, e, :speaking?, :type => :checkbox, :collection => ["Nein", "Ja"] %></td>
			<td><%= best_in_place_if signed_in?, e, :singing?, :type => :checkbox, :collection => ["Nein", "Ja"]  %></td>
			<td><%= link_to "Löschen", entrance_path(e.id), :method => 'delete' if signed_in? %></td>
		</tr>

		<%end%>
		</tbody>
		
     		
		

	</table>
	<%= link_to "Neu", entrances_path, :method => 'post' if signed_in? %>
	
</div>



