<div id="nav" class="maindiv">
	<div><%= link_to "Szenen", scenes_path%> |</div>
	<div><%= link_to "Rollen", roles_path%> |</div>
	<div><%= link_to "SchauspielerInnen", actors_path%></div>
	<div> | <%= link_to "Auftritte", entrances_path if signed_in? %> |</div>
	<div><%= link_to "Rollenzuteilung", allocations_path if signed_in? %></div>

</div>
