<!DOCTYPE html>
<html>
<head>
  <title>ActingSisters</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>



<div id="container">
 <%= render 'layouts/nav'%>
<div id="header">
	<%= link_to root_path do %>
		<div id="logodiv" class="linkdiv maindiv">	
			<h1>Acting Sisters</h1>
    		<p>Musical der Sekstufe1 Wichtrach</p>
    	</div>
    <%end%>

     
    <% if signed_in? %>
        <%= link_to "/admin/logout" do %>
			<div id="logindiv" class="linkdiv">
				<p>logout</p>
			</div>
		<%end%>
    <%else%>
    	<%= link_to "/admin/login" do %>
			<div id="logindiv" class="linkdiv">
				<p>login</p>
			</div>
		<%end%>
	<%end%>

</div>
    <%= yield %>

</div>

</body>
</html>
